In [1]:
import pandas as pd

In [2]:
ls

data1.csv  data2.csv  merge.ipynb

In [10]:
pd.read_csv?

In [12]:
df1 = pd.read_csv('data1.csv')

/root/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df1.columns[11]

'YOYROE'

In [19]:
df1.drop(['Unnamed: 0','dailyReturnNoReinv','YOYROE'],axis=1).dropna()

,tradeDate,secID,ROE,QuickRatio,PE,LFLO,TVMA20,REVS20,EP
0,2019/1/2,000009.XSHE,0.0104,0.8513,180.0405,22.9332,60.4605,0.8758,0.005554306
1,2019/1/2,000012.XSHE,0.0681,0.7034,19.5304,22.6784,20.2816,0.9149,0.051202228
2,2019/1/2,000021.XSHE,0.0877,0.8723,16.2858,22.8450,43.3856,0.9030,0.061403186
3,2019/1/2,000027.XSHE,0.0257,0.7900,37.1553,23.7396,20.7372,0.9555,0.026914061
4,2019/1/2,000028.XSHE,0.1240,1.3436,14.5830,23.2399,39.4524,0.8733,0.068572996
...,...,...,...,...,...,...,...,...,...
345781,2021/11/30,688029.XSHG,0.1139,3.7979,110.9337,23.1222,171.9601,1.0060,0.009014
345782,2021/11/30,688088.XSHG,0.0613,7.4023,120.9688,23.2944,237.6361,1.2744,0.008267
345783,2021/11/30,688099.XSHG,0.2108,3.2560,79.0363,23.9739,321.6632,1.1177,0.012652
345784,2021/11/30,688208.XSHG,0.1830,1.4225,74.1014,23.7365,172.6206,1.1183,0.013495
345785,2021/11/30,688321.XSHG,-0.0211,2.1027,-466.0829,22.9379,72.6784,0.9833,-0.002146

In [13]:
df2 = pd.read_csv('data2.csv',index_col=0)

In [24]:
df2

         tradeDate        secID  dailyReturnNoReinv
0       2019-01-02  000009.XSHE           -0.002321
1       2019-01-03  000009.XSHE           -0.013954
2       2019-01-04  000009.XSHE            0.030660
3       2019-01-07  000009.XSHE            0.018306
4       2019-01-08  000009.XSHE            0.015730
...            ...          ...                 ...
346013  2021-11-24  688321.XSHG            0.006318
346014  2021-11-25  688321.XSHG            0.015015
346015  2021-11-26  688321.XSHG           -0.016138
346016  2021-11-29  688321.XSHG           -0.017496
346017  2021-11-30  688321.XSHG           -0.001113

[346018 rows x 3 columns]